<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lensing</title>
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
</head>
<body>
<div class="slide">
    <div id="notesContainer">
        <h2>Lens Size</h2>
        <p>Reduce: <span>[</span></p>
        <p>Increase: <span>]</span></p>
        <p>Default: <span>\</span></p>
        <h2>Lens Filter</h2>
        <p>Previous: <span>&#8679; [</span></p>
        <p>Next: <span>&#8679; ]</span></p>
        <p>None: <span>&#8679; \</span></p>
        <h2>Lens Placement</h2>
        <p>Toggle put-down/pick-up: <span>p</span></p>
        <h2>Lens Visibility</h2>
        <p>Toggle visible/hidden: <span>l</span></p>
        <h2>Lens Shape</h2>
        <p>Toggle visible/hidden: <span>&#8679; l</span></p>
        <h2>Lens Magnification (WIP)</h2>
        <p>Toggle modes: <span>m</span></p>
        <p>Zoom Out: <span>,</span></p>
        <p>Zoom In: <span>.</span></p>
        <p>No zoom: <span>/</span></p>
    </div>
    <div id="viewer">
    </div>
    <div id="testContainer">
        <canvas id="testCanvas" height="400" width="400"></canvas>
        <div id="testFilterBox"></div>
    </div>
</div>
<!-- OpenSeadragon / D3 -->
<script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- Plugins -->
<!-- Classes -->
<script src="{{ url_for('static', filename='./js/Lensing.js') }}"></script>
<script src="{{ url_for('static', filename='./js/LFilters.js') }}"></script>
<script src="{{ url_for('static', filename='./js/LFilterBox.js') }}"></script>
<!-- Main -->
<script src="{{ url_for('static', filename='./js/main.js') }}"></script>
</body>
</html>