
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 100;
}

header img {
    height: 40px;
    margin: 5px;
}

.slide {
    align-items: center;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100vw;
}

#viewer {
    background-color: rgba(0, 0, 0, 0.9);
    height: 600px;
    position: relative;
    width: 600px;
}

#notesContainer {
    left: 100px;
    position: absolute;
}

#notesContainer h2 {
    font-family: sans-serif;
    font-size: 13px;
    padding: 4px 0;
}

#notesContainer p {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: lighter;
    padding: 4px 0;
}

#notesContainer span {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px 3px 3px 3px;
}

#testContainer {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 200px;
    position: absolute;
    right: 100px;
    width: 200px;
}

#testCanvas {
    height: 100%;
    position: relative;
    width: 100%;
}

#testFilterBox {
    position: absolute;
    left: -50px;
}